<%- include("partials/header") -%>
  <div class="box">
    <h2 class="h2-title"> WORKOUTS </h2> <!-- Title -->

    <!-- Iterate over each workout in the foundWorkouts array  passed from app.js -->
    <% foundWorkouts.forEach(function(workout){ %>
      <div class="row col-6">
        <div class="btn-group dropright col-12 ">
          <div class="item p-3 mb-2 col-11 custom-pallete-fourth"
            onclick="window.location.href='/<%= workout._id %>/exercises'">
            <%= workout.name %>
          </div>
          <div class="item three-dots-div p-3 mb-2 col-1 custom-pallete-fourth" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </div>
          <!-- Dropdown Edit/Delete modal -->
          <div class="dropdown-menu">
            <form method="post" action="/workouts/<%= workout._id %>/modify">
              <input type="hidden" name="action" value="delete">
              <a class="dropdown-item" onclick="this.parentNode.submit();">Delete</a>
            </form>
            <a class="dropdown-item" data-workoutid="<%= workout._id %>" data-toggle="modal"
              data-target="#updateWorkoutModal">Edit</a>
          </div>
        </div>
      </div>
      <% });%>


        <!-- Add Workout Button -->
        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#createWorkoutModal">
          Add Workout
        </button>

        <!-- Add Workout Modal -->
        <div class="modal fade" id="createWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="createWorkoutModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createWorkoutModal">Workout Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/workouts" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" name="workoutName" placeholder="Name" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Update dropdown Workout Modal -->
        <div class="modal fade" id="updateWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="updateWorkoutModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateWorkoutModal">Workout Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/workouts/workoutid/modify" method="post">
                  <input type="hidden" name="action" value="update">
                  <div class="form-group">
                    <input type="text" class="form-control" name="workoutName" placeholder="Name" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Edit Name</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  </div>

  <%- include("partials/footer") -%>